#
# .envファイルへ記載する項目を例示する

# Django Secret Key
SECRET_KEY=your_secret_key

# Debug
DEBUG=True_or_False

# DB 設定
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user_name
POSTGRES_PASSWORD=your_db_password
POSTGRES_HOST=your_db_host_name
POSTGRES_PORT=your_db_port_number

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
#
# ※DATABASE_URLについては、変数展開が自動で行われるため、このまま.envなどに記載可